<footer class="footer__grid">
    <div class="footer__header">
        <div>
            Av. Brg. Faria Lima, 3477
        </div>
        <div class="footer__address">
            <div>
                Itaim Bibi, São Paulo - SP,
            </div>
            <div>
                CEP 04538-133
            </div>
        </div>
        <div>
            (11) 9 1234 5678
        </div>
    </div>
    <div class="footer__social-medias">
        <a href="https://www.facebook.com/dekonunes" target="_blank"><span (mouseenter)="removeClassGrey($event.target)"
                (mouseleave)="addClassGrey($event.target)" class="icon-facebook grey-color"></span></a>
        <a href="https://www.facebook.com/dekonunes" target="_blank"><span (mouseenter)="removeClassGrey($event.target)"
                (mouseleave)="addClassGrey($event.target)" class="icon-instagram grey-color"></span></a>
        <a href="https://www.facebook.com/dekonunes" target="_blank"><span (mouseenter)="removeClassGrey($event.target)"
                (mouseleave)="addClassGrey($event.target)" class="icon-twitter grey-color"></span></a>
        <a href="https://www.facebook.com/dekonunes" target="_blank"><span (mouseenter)="removeClassGrey($event.target)"
                (mouseleave)="addClassGrey($event.target)" class="icon-youtube grey-color"></span></a>
    </div>
    <div class="footer__copyright">
        <p>&copy; Copyright by André Nunes 2020.</p>
        <p>
            <i>All rights reserved.</i> Desenvolvido por <a href="https://www.facebook.com/dekonunes" target="_blank"
                class="footer__link">André Nunes</a>
        </p>
    </div>
</footer>