<section class="cards">
    <div class="card">
        <img src="assets/img/casinha.jpg" loading="lazy" alt="Card 1" class="card__img">
        <h5 class="card__name">Hotel</h5>
        <p class="card__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia quidem exercitationem accusantium fugiat molestiae aliquid provident. Dolores sapiente delectus consequatur blanditiis, assumenda vero eius hic modi at. Quia, reiciendis molestias.</p>
    </div>
    <div class="card">
        <img src="assets/img/banho.jpg" loading="lazy" alt="Card 1" class="card__img">
        <h5 class="card__name">Banho e tosa</h5>
        <p class="card__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia quidem exercitationem accusantium fugiat molestiae aliquid provident. Dolores sapiente delectus consequatur blanditiis, assumenda vero eius hic modi at. Quia, reiciendis molestias.</p>
    </div>
    <div class="card">
        <img src="assets/img/transporte.jpg" loading="lazy" alt="Card 1" class="card__img">
        <h5 class="card__name">Taxi dog</h5>
        <p class="card__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia quidem exercitationem accusantium fugiat molestiae aliquid provident. Dolores sapiente delectus consequatur blanditiis, assumenda vero eius hic modi at. Quia, reiciendis molestias.</p>
    </div>
</section>