@import "components/card";
@import "abstracts/responsive";

.cards {
	margin: 1rem 0;
	display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    
    @include respond(tab-port) {
        margin: 1rem 2rem;
		grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
	}

	grid-gap: 2rem;
}

.card {
    @include card;
	display: grid;
    grid-row-gap: 3.5rem;
    background-color: var(--color-grey-light-1);

	&__img {
		width: 100%;
		grid-row: 1 / 2;
		grid-column: 1 / -1;
		z-index: 1;
	}

	&__text {
		font-size: 1.4rem;
		padding: 2rem;
		color: black;
		text-align: justify;
		text-justify: inter-word;
	}

	&__name {
		grid-row: 1 / 2;
		grid-column: 1 / -1;
		justify-self: center;
		align-self: end;
        z-index: 3;
        font-weight: 700;

		width: 80%;
		font-size: 2rem;
		text-align: center;
		padding: 1.25rem;
		background-color: black;
		color: #fff;
		font-weight: 400;
		transform: translateY(50%);
	}
}
