:root {
    --color-primary: #001b49;
    --color-primary-light: #0c49b1;
    --color-primary-dark: #BA265D;

    --color-grey-light-1: #faf9f9;
    --color-grey-light-2: #f4f2f2;
    --color-grey-light-3: #f0eeee;
    --color-grey-light-4: #ccc;
    
    
    --color-grey-dark-1: #333;
    --color-grey-dark-2: #777;
    --color-grey-dark-3: #999;

    --color-input: #fafbfb;
    --color-border: #c5ccd1;

    --color-red: #e74c3c;
    --color-orange: #e67e22;
    --color-green: #2ecc71;
    --color-blue: #3498db;
}