<section class="contact__grid">
    <div class="contact__img md-and-down-hide">
    </div>
    <div class="contact__form">
        <h2 class="contact__form--text">Envie uma mensagem para nós</h2>
        <div>
            <input formControlName="name" type="text" required>
            <label alt="Nome" placeholder="Nome"></label>
        </div>
        <div>
            <input formControlName="tel" type="phone" required>
            <label alt="Telefone" placeholder="Telefone"></label>
        </div>
        <div>
            <input formControlName="email" type="text" required>
            <label alt="E-mail" placeholder="E-mail"></label>
        </div>
        <div>
            <input formControlName="subject" type="text" required>
            <label alt="Titulo" placeholder="Titulo"></label>
        </div>
        <div>
            <textarea formControlName="text" type="text" required></textarea>
            <label alt="Mensagem" placeholder="Mensagem"></label>
        </div>
        <button class="contact__btn">Enviar</button>
    </div>
</section>