<section class="gallery">
    <figure class="gallery__item gallery__item--1">
        <img src="assets/img/dog-1.jpg" alt="Gallery image 1" loading="lazy" class="gallery__img">
    </figure>
    <figure class="gallery__item gallery__item--2">
        <img src="assets/img/dog-2.jpg" alt="Gallery image 2" loading="lazy" class="gallery__img">
    </figure>
    <figure class="gallery__item gallery__item--3">
        <img src="assets/img/dog-3.jpg" alt="Gallery image 3" loading="lazy" class="gallery__img">
    </figure>
    <figure class="gallery__item gallery__item--4">
        <img src="assets/img/dog-4.jpg" alt="Gallery image 4" loading="lazy" class="gallery__img">
    </figure>
    <figure class="gallery__item gallery__item--5">
        <img src="assets/img/dog-5.jpg" alt="Gallery image 5" loading="lazy" class="gallery__img">
    </figure>
    <figure class="gallery__item gallery__item--6">
        <img src="assets/img/dog-6.jpg" alt="Gallery image 6" loading="lazy" class="gallery__img">
    </figure>
    <figure class="gallery__item gallery__item--7">
        <img src="assets/img/dog-7.jpg" alt="Gallery image 7" loading="lazy" class="gallery__img">
    </figure>
    <figure class="gallery__item gallery__item--8">
        <img src="assets/img/dog-8.jpg" alt="Gallery image 8" loading="lazy" class="gallery__img">
    </figure>
    <figure class="gallery__item gallery__item--9">
        <img src="assets/img/dog-9.jpg" alt="Gallery image 9" loading="lazy" class="gallery__img">
    </figure>
    <figure class="gallery__item gallery__item--10">
        <img src="assets/img/dog-10.jpg" alt="Gallery image 10" loading="lazy" class="gallery__img">
    </figure>
    <figure class="gallery__item gallery__item--11">
        <img src="assets/img/dog-11.jpg" alt="Gallery image 11" loading="lazy" class="gallery__img">
    </figure>
    <figure class="gallery__item gallery__item--12">
        <img src="assets/img/dog-12.jpg" alt="Gallery image 12" loading="lazy" class="gallery__img">
    </figure>
    <figure class="gallery__item gallery__item--13">
        <img src="assets/img/dog-13.jpg" alt="Gallery image 13" loading="lazy" class="gallery__img">
    </figure>
    <figure class="gallery__item gallery__item--14">
        <img src="assets/img/dog-14.jpg" alt="Gallery image 14" loading="lazy" class="gallery__img">
    </figure>
    <figure class="gallery__item gallery__item--15">
        <img src="assets/img/dog-15.jpg" alt="Gallery image 14" loading="lazy" class="gallery__img">
    </figure>
</section>