@import "abstracts/responsive";

img {
	width: 100%;
}

.scroll-to-top {
	color: black;
	font-size: 3.5rem;
	position: fixed;
	bottom: 15px;
	right: 15px;
	opacity: 0;
	z-index: 50;
	transition: all 0.2s ease-in-out;
}

.show-scrollTop {
	opacity: 1;
	transition: all 0.2s ease-in-out;
}
