<section class="team__grid">
    <h1 class="team__title">Nosso carinhoso time</h1>
    <div class="team team__cards">
        <div class="team__card">
            <figure class="team__shape">
                <img src="assets/img/team-1.jpg" alt="Person on a tour" class="team__img">
                <figcaption class="team__caption">Bruna Campos</figcaption>
            </figure>
            <h2>Psicologa dos doguinhos</h2>
            <p>Com 4 anos de experiencia ela consegue entender a fundo o que deixa seu doguinho chorando quando esta sozinho</p>
        </div>
        <div class="team__card">
            <figure class="team__shape">
                <img src="assets/img/team-2.jpg" alt="Person on a tour" class="team__img">
                <figcaption class="team__caption">Jose Augusto</figcaption>
            </figure>
            <h2>Gerente</h2>
            <p>Nosso querido gerente sempre sonhou em dar alegria para os animais e sempre esta junto dos doguinhos brincando</p>
        </div>
        <div class="team__card">
            <figure class="team__shape">
                <img src="assets/img/team-3.jpg" alt="Person on a tour" class="team__img">
                <figcaption class="team__caption">Gustavo Luiz</figcaption>
            </figure>
            <h2>Cuidador</h2>
            <p>Nosso cuidador cuida do seu doguinho como se fosse um filho, sempre atencioso e dando muito carinho</p>
        </div>
        <div class="team__card">
            <figure class="team__shape">
                <img src="assets/img/team-4.jpg" alt="Person on a tour" class="team__img">
                <figcaption class="team__caption">Yudi Kasuki</figcaption>
            </figure>
            <h2>Motorista</h2>
            <p>Os doguinhos sempre ficam animados quando nosso motorista chega para buscalos, sempre com total seguranca</p>
        </div>
        <div class="team__card">
            <figure class="team__shape">
                <img src="assets/img/team-5.jpg" alt="Person on a tour" class="team__img">
                <figcaption class="team__caption">Pricilla Nascimento</figcaption>
            </figure>
            <h2>Atendimento</h2>
            <p>Voce sempre sera muito bem atendido pessoalmente ou por telefone com muito sorriso e simpatia de nossa atendente</p>
        </div>
    </div>
</section>