@import "components/card";

.team {
	&__title {
		font-size: 4rem;
	}

	&:hover &__caption {
		opacity: 1;
		transform: translate(-50%, -50%);
	}

	&__grid {
		display: grid;
		justify-items: center;
		width: 100%;
		height: 70%;
		background-color: var(--color-primary);
		font-family: "Arvo", serif;
	}

	&__cards {
        display: grid;
        width: 90%;
        grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
        grid-gap: 2rem;
        justify-items: center;
        margin-bottom: 2%;
    }
    
    &__card {
        @include card;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        color: black;
        
        width: 25rem;
        height: 35rem;
        padding: 1rem;
        h2 {
            margin-top: 1rem;
        }
        p {
            margin: 1rem;
            font-size: 1.4rem;
        }
    }

	&__shape {
		width: 15rem;
		height: 15rem;
		float: left;
		position: relative;
        overflow: hidden;
        border-radius: 50%;
	}

	@supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
		&__shape {
			clip-path: circle(50% at 50% 50%);
			border-radius: none;
		}
	}

	&__img {
		height: 100%;
		backface-visibility: hidden;
		transition: all 0.5s;
	}

	&__caption {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, 20%);
		color: white;
		text-transform: uppercase;
		font-size: 1.7rem;
		text-align: center;
		opacity: 0;
		transition: all 0.5s;
		backface-visibility: hidden;
	}

	&:hover &__img {
		transform: translateX(-1rem) scale(1.1);
		filter: blur(3px) brightness(80%);
	}
}
